.idea
*.gem

# SimpleCov
coverage
coverage.data

# Need only on local machine for gem
Gemfile.lock
docs/_build


#Vim swap files
*.swp

# Local raemon copy
raemon/

*.svg
*.png

*.yaml
!examples/example_astute_config.yaml
