[Unit]
Name=Astute daemon
ConditionFileExecutable=/usr/bin/astuted

[Service]
EnvironmentFile=-/etc/sysconfig/astute
ExecStart=/usr/bin/astuted $ASTUTE_OPTIONS

[Install]
WantedBy=multi-user.target
